html {
  height: 100%;
  width: 100%;
}
/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;1,100&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
}
:root {
  --main-color: #ffb43a;
  --hover-color: hsl(37, 94%, 57%);
  --body-color: #1e1e2a;
  --container-color: #2d2e37;
  --text-color: #fcfeff;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  width: 100%;
}
body {
  background-color: var(--body-color);
  color: var(--text-color);
}
/* ------------------------ HEADER------------------------------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--body-color);
  z-index: 100;
}
.container {
  max-width: 66.25rem;
  margin: auto;
  width: 100%;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem 0;
}
/* Logo */
.logo {
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 auto 0 0; /*space between logo and search box*/
}
.logo span {
  color: var(--main-color);
}
.search-box {
  max-width: 15rem;
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: .625rem;
  padding: .5rem .9375rem;
  background: var(--container-color);
  border-radius: 4rem;
  margin-right: 1rem ;
}
.search-box a{
  color: var(--text-color);
  font-size: 1.1rem;
}
.search-box a .bx:hover {
  color: var(--main-color);
}
#search-input {
  width: 100%;
  border: none;
  outline: none;
  color: var(--text-color);
  background: transparent;
  font-size: 0.938rem;
}
/* User */
.user {
  display: flex;
}
.user-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
/*---------------------------------------NAVBAR-----------------------------------------*/
/* Navbar */

.navbar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 1.125rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.1rem;
}
.nav-link {
  display: flex;
  flex-direction: column ;
  align-items: center;
  color: #b7b7b7;
}
.nav-link:hover,
.nav-action {
  color: var(--text-color);
  transition: 0.3s all linear;
  transform: scale(1.1);
}
.nav-link .bx {
  font-size: 1.6rem;
}
.nav-link-title {
  font-size: 0.7rem;
}
/*---------------------------------------HOME-----------------------------------------*/
.home {
  position: relative;
  min-height: 29.375rem;
  display: flex;
  align-items: center;
  margin-top: 5rem !important;
  border-radius: 0.5rem;
}
.home-img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  border-radius: 0.5rem;
}
.home-text {
  padding-left: 2.5rem;
}
.home-title {
  font-size: 2rem;
  font-weight: 37.5rem;
}
.home-text p {
  font-size: 0.938rem;
  margin: .625rem 0 1.25rem;
  color: var(--main-color);
}
.watch-btn {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  color: var(--text-color)  ;
}
.watch-btn .fa-solid {
  font-size: 1.3125rem;
  background: var(--main-color);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.watch-btn .fa-solid:hover{
  background: var(--hover-color);
}
.watch-btn span{
  font-size: 1rem;
  font-weight: 400;
}